body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url('./images/user.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #007BFF;
}

.main {
    margin-top: 60px;
}

.hero {
    background-image: url('./images/landingimg.jpg');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.hero-content {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 50%;
    border-radius: 8px;
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    margin: 10px 0 0;
    font-size: 1.2em;
}
