<head>
  <link rel="stylesheet" href="./components.css">
</head>

<body>
  
  <div
  style="
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem;
    background-color: #465672;
  "
>
  <li style="list-style-type: none">
    <a
      href="javascript: void(0);"
      class="dropdown-toggle"
      style="text-decoration: none"
    >
      <div class="dropdown-menu-container">
        <span>Patients</span>
        <img
          src="../../images/chevron-down-solid.svg"
          alt="dropdown"
          class="dropdown-icon"
        />
      </div>
    </a>
    <ul class="nav-second-level dropdown-menu" aria-expanded="false">
      <li><a href="">Add Patients</a></li>
      <li><a href="">Manage Patients</a></li>
    </ul>
  </li>

  <a href="" style="text-decoration: none">
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-bottom: 1px solid white;
        width: 100%;
        color: white;
        padding: 3rem;
        font-size: 20px;
      "
    >
      Triage
      <img
        style="height: 20px; width: 30px; color: white"
        src="../../images/chevron-down-solid.svg"
        alt="dropdown"
      />
    </div>
  </a>
  <a href="" style="text-decoration: none">
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-bottom: 1px solid white;
        width: 100%;
        color: white;
        padding: 3rem;
        font-size: 20px;
      "
    >
      Consoltation
      <img
        style="height: 20px; width: 30px; color: white"
        src="../../images/chevron-down-solid.svg"
        alt="dropdown"
      />
    </div>
  </a>
  <a href="" style="text-decoration: none">
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-bottom: 1px solid white;
        width: 100%;
        color: white;
        padding: 3rem;
        font-size: 20px;
      "
    >
      Lab
      <img
        style="height: 20px; width: 30px; color: white"
        src="../../images/chevron-down-solid.svg"
        alt="dropdown"
      />
    </div>
  </a>
  <a href="" style="text-decoration: none">
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-bottom: 1px solid white;
        width: 100%;
        color: white;
        padding: 3rem;
        font-size: 20px;
      "
    >
      Pharmacy
      <img
        style="height: 20px; width: 30px; color: white"
        src="../../images/chevron-down-solid.svg"
        alt="dropdown"
      />
    </div>
  </a>
  <a href="" style="text-decoration: none">
    <ul
      style="
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-bottom: 1px solid white;
        width: 100%;
        color: white;
        padding: 3rem;
        font-size: 20px;
        list-style-type: none;
      "
    >
      <li>
        Inventory
        <img
          style="height: 20px; width: 30px; color: white"
          src="../../images/chevron-down-solid.svg"
          alt="dropdown"
        />
      </li>
    </ul>
  </a>
  <a href="" style="text-decoration: none">
    <div
      style="
        display: flex;
        flex-direction: row;
        gap: 1rem;
        border-bottom: 1px solid white;
        width: 100%;
        color: white;
        padding: 3rem;
        font-size: 20px;
      "
    >
      Billing
      <img
        style="height: 20px; width: 30px; color: white"
        src="../../images/chevron-down-solid.svg"
        alt="dropdown"
      />
    </div>
  </a>
</div>

<script src="../js/sidenav.js"></script>
</body>

